{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uzima Blood Bank Management System</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>

<body>
    <header>
        <h1>UZIMA BLOOD BANK MANAGEMENT SYSTEM</h1>
        <p>Donate Blood, Save Lives</p>
    </header>
    <nav>
        <ul>
            <li><a href="#">Uzima BBMS  |</a></li>
            <li><a href="#">Doctor  |</a></li>
            <li><a href="#">Patient  |</a></li>
            <li><a href="#">Donor  |</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
    <main>
        <h2>Welcome to Uzima Blood Bank System</h2>
        <p>Blood donation is a critical and life-saving act that helps those in need. Every day, people require blood
            for various medical conditions, surgeries, and emergencies. By donating blood, you can make a significant
            difference in the lives of patients and contribute to their recovery.</p><br><br>

        <h3>Benefits of Blood Donation:</h3>
        <ul>
            <li>Save lives by providing a vital resource to those in need.</li>
            <li>Reduce the risk of certain diseases through regular blood donation.</li>
            <li>Receive a free health checkup during the donation process.</li>
        </ul><br><br>

        <h3>Eligibility for Blood Donation:</h3>
        <p>Eligibility for blood donation varies by location and organization, but generally, donors should be in good
            health, meet age requirements, and not have certain medical conditions. It's essential to check with your
            local blood bank or donation center for specific eligibility criteria.</p><br><br>

        <h3>Who Benefits from Blood Donation:</h3>
        <p>The beneficiaries of blood donation are diverse. They include:</p>
        <ul>
            <li>Accident victims in need of emergency transfusions.</li>
            <li>Surgery patients who require blood during their procedures.</li>
            <li>Cancer patients undergoing treatments that affect their blood counts.</li>
            <li>Individuals with blood disorders like anemia or hemophilia.</li>
        </ul><br><br>

        <p>Your blood donation can provide hope and healing to those going through challenging medical situations.</p>
        <p>Consider becoming a regular blood donor and join the noble cause of saving lives. Your contribution matters,
            and together, we can make a positive impact on the health and well-being of our community.</p>
    </main>

    <footer>
        <h4>&copy; Copyright 2023 | Uzima BBMS</h4>
        <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
        </ul>
        <p>Designed and developed by <a href="https://github.com/mumiak-mitch">Mitchel M (Mumiak)</a></p>
    </footer>

</body>

</html>