[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-widget-tweaks = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
