{% load static %}
<!DOCTYPE html>

<head>
  <style>
    .xyz {
      margin-bottom: 0px;
      background-image: url('{% static "image/homepage.png" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>

</head>


<body>
  {% include "blood/navbar.html" %}
  <br>
  <section id="section-jumbotron" style="margin-bottom: 0px;"
    class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>


      <br><br><br><br>

    </div>
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">
    <h1>Blood Donation</h1>
    <p>Blood donation is a voluntary procedure that can help save lives. There are several types of blood donation.
      Each type helps meet different medical needs.</p>

    <h2>Whole Blood Donation</h2>
    <p>
      Whole blood donation is the most common type of blood donation. During this donation, you donate about a pint
      (about
      half a liter) of whole blood. The blood is then separated into its components — red cells, plasma and sometimes
      platelets.
    </p>

    <h2>Apheresis</h2>
    <p>
      During apheresis, you are hooked up to a machine that collects and separates different parts of your blood. These
      blood
      components include red cells, plasma and platelets. The machine then returns the remaining parts of the blood back
      to you.
    </p>

    <ol>
      <li>
        <p>Platelet Donation (Plateletpheresis): Platelets are the cells that help stop bleeding by clumping and forming
          plugs in blood vessels (clotting).
          Donated platelets are commonly given to people with clotting problems or cancer and people who will have organ
          transplants or major surgeries.</p>
      </li>
      <li>
        <p>Double red cell donation allows you to donate a concentrated amount of red blood cells. Red blood cells
          deliver oxygen to your organs and tissues.
          Donated red blood cells are typically given to people with severe blood loss, such as after an injury or
          accident, and people with anemia (low hemoglobin).</p>
      </li>
      <li>
        <p>Plasma donation (plasmapheresis) collects the liquid portion of the blood (plasma). Plasma helps blood clot
          and contains antibodies that help fight off infections.
          Plasma is commonly given to people in emergency and trauma situations to help stop bleeding.</p>
      </li>
    </ol>

    <h3>Why it's done</h3>
    <p>You agree to have blood drawn so that it can be given to someone who needs a blood transfusion.</p>
    <p>Millions of people need blood transfusions each year. Some may need blood during surgery. Others depend on it
      after an accident or because they have a disease that requires certain parts of blood. Blood donation makes all of
      this possible. There is no substitute for human blood — all transfusions use blood from a donor.</p>

    <h3>Risks</h3>
    <p>Blood donation is safe. New, sterile disposable equipment is used for each donor, so there's no risk of getting a
      bloodborne infection by donating blood.

      Most healthy adults can donate a pint (about half a liter) safely, without health risks. Within a few days of a
      blood donation, your body replaces the lost fluids. And after two weeks, your body replaces the lost red blood
      cells.</p>

      For more information visit <a href="https://www.mayoclinic.org/tests-procedures/blood-donation/about/pac-20385144" target="_blank" rel="noopener noreferrer">Mayo Clinic</a>
  </div>

  {% include "blood/footer.html" %}

</body>

</html>